{% extends 'layout.html' %}

{% block content %}
<div class="create-publication-container">
    <h2>Create Publication</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control large-input") }}
        </div>
        <div class="form-group">
            {{ form.price.label }} {{ form.price(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.localization.label }} {{ form.localization(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.image.label }} {{ form.image(class="form-control-file") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
