{% extends 'layout.html' %}
{% block content %}
    <h2>Publications Page</h2>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.create_publication') }}" class="btn btn-primary">Create Publication</a>
    {% endif %}
    <div class="container">
      <div class="row">
          {% for pub in publications %}
              <div class="col-md-4">
                  <a href="{{ url_for('main.publication_detail', pub_id=pub.id) }}" class="publication-link">
                      <div class="publication-item">
                            <img src="{{ url_for('static', filename='uploads/' ~ pub.image) }}" alt="{{ pub.name }}" class="publication-image">
                          <h4>{{ pub.name }}</h4>
                          <p>{{ pub.description }}</p>
                          <p>Price: {{ pub.price }}</p>
                          <p>Creating user: {{ pub.creating_user_first_name }} {{ pub.creating_user_last_name }}</p>
                        {% if pub.average_rating %}
                            <p>Average Rating: {{ pub.average_rating|round(1) }}</p>
                        {% else %}
                            <p>No ratings yet</p>
                        {% endif %}
                      </div>
                  </a>
              </div>
          {% endfor %}
      </div>
  </div>
{% endblock content %}