{% extends 'layout.html' %}

{% block content %}


<div class="hero">
    <div class="hero-content">
        <h2>Find the Best Professionals for your event!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button>Explore</button>
    </div>
</div>

<section class="search-section">
    <div class="container">
        <form method="GET" action="{{ url_for('main.home') }}" class="form-inline" id="filter-form">
            <input type="text" name="name" class="form-control" placeholder="Name" value="{{ request.args.get('name', '') }}">
            <input type="text" name="localization" class="form-control" placeholder="Localization" value="{{ request.args.get('localization', '') }}">
            <select name="sort_by" class="form-control">
                <option value="newest" {% if request.args.get('sort_by') == 'newest' %} selected {% endif %}>Newest first</option>
                <option value="oldest" {% if request.args.get('sort_by') == 'oldest' %} selected {% endif %}>Oldest first</option>
                <option value="cheapest" {% if request.args.get('sort_by') == 'cheapest' %} selected {% endif %}>Price: Cheapest first</option>
                <option value="expensive" {% if request.args.get('sort_by') == 'expensive' %} selected {% endif %}>Price: Most expensive first</option>
            </select>
            <button type="submit" class="btn btn-primary">Filter</button>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.create_publication') }}" class="btn btn-secondary buttonpub">Create Publication</a>
            {% endif %}
        </form>
    </div>
</section>
<section class="cards-section">
    <div class="container">
        {% for pub in publications %}
            <div class="card">
                <img src="{{ url_for('static', filename='uploads/' ~ pub.image) }}" alt="{{ pub.name }}">
                <div class="card-content">
                        <h3>{{ pub.name }}</h3>
                        <p>{{ pub.description }}</p>
                        <p>Price: {{ pub.price }}</p>
                        <p>Creating user: {{ pub.creating_user_first_name }} {{ pub.creating_user_last_name }}</p>
                        {% if pub.average_rating %}
                            <p>Average Rating: {{ pub.average_rating|round(1) }}</p>
                        {% else %}
                            <p>No ratings yet</p>
                        {% endif %}
                        <a href="{{ url_for('main.publication_detail', pub_id=pub.id) }}" class="button">Show Offer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>


<footer>
    <div class="container">
        <p>All rights reserved</p>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("filter-form");
        const nameInput = form.querySelector("input[name='name']");
        const localizationInput = form.querySelector("input[name='localization']");
        const sortBySelect = form.querySelector("select[name='sort_by']");

        function submitForm() {
            const formData = new FormData(form);
            const queryString = new URLSearchParams(formData).toString();
            fetch(`{{ url_for('main.home') }}?${queryString}`, {
                method: 'GET',
            })
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newContent = doc.getElementById('publications-list').innerHTML;
                document.getElementById('publications-list').innerHTML = newContent;
            });
        }

        nameInput.addEventListener("input", submitForm);
        localizationInput.addEventListener("input", submitForm);
        sortBySelect.addEventListener("change", submitForm);
    });
</script>
{% endblock content %}
