<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
    <title>EventApp</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% endblock head %}

{% block body %}
<body>
<div class="wrapper">
    {% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <a class="navbar-brand title" href="{{ url_for('main.home') }}">Event App</a>
            <ul class="nav navbar-nav pull-right nav-list">
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('login.user_profile') }}">My Profile</a></li>
                    <li><a href="{{ url_for('login.user_logout') }}">Logout</a></li>
                    {% if current_user.is_admin %}
                        <li><a href="{{ url_for('admin.user_list') }}">User List</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('at.register_user') }}">Register</a></li>
                    <li><a href="{{ url_for('login.user_login') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock navbar %}

    {% for message in get_flashed_messages() %}
    <div class="container alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <main class="content">
    {% block content %}
    {% endblock content %}
    </main>

    {% block footer %}
    <footer class="ftr">
        <div class="container">
            <hr>
            <p class="text-center small">Event App &copy; | 2024</p>
        </div>
    </footer>
    {% endblock footer %}
</div>
</body>
{% endblock body %}
</html>
