{% extends 'layout.html' %}

{% block content %}
    <h1>Profile</h1>
    <p><strong>Login:</strong> {{ user.login }}</p>
    <p><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Birthdate:</strong> {{ user.birth_date.strftime('%d/%m/%Y') }}</p>

    <h2>Account Settings</h2>

    <h3>Change Email</h3>
    <form method="POST" action="{{ url_for('profile.change_email') }}">
        {{ change_email_form.hidden_tag() }}
        {{ change_email_form.email.label }} {{ change_email_form.email(size=32) }}<br>
        {{ change_email_form.submit(class="btn btn-primary") }}
    </form>

    <h3>Change Password</h3>
    <form method="POST" action="{{ url_for('profile.change_password') }}">
        {{ change_password_form.hidden_tag() }}
        {{ change_password_form.current_password.label }} {{ change_password_form.current_password(size=32) }}<br>
        {{ change_password_form.new_password.label }} {{ change_password_form.new_password(size=32) }}<br>
        {{ change_password_form.confirm_new_password.label }} {{ change_password_form.confirm_new_password(size=32) }}<br>
        {{ change_password_form.submit(class="btn btn-primary") }}
    </form>

    <h2>Your Publications</h2>
    <ul>
        {% for pub in publications %}
        <div class="col-md-4">
            <a href="{{ url_for('main.publication_detail', pub_id=pub.id) }}" class="publication-link">
                <div class="publication-item">
                    <h4>{{ pub.name }}</h4>
                    <p>{{ pub.description }}</p>
                    <p>Price: {{ pub.price }}</p>
                    <p>Average Rating: {{ pub.average_rating or 0 }}</p>
                    {% else %}
                    <li>No publications found.</li>
                </div>
            </a>
        </div>
    {% endfor %}
    
    </ul>
{% endblock %}