{% extends 'layout.html' %}
{% block content %}
    <h2>Publication Details</h2>
    <div class="publication-details">
        <img src="{{ url_for('static', filename='uploads/' ~ publication.image) }}" alt="Publication Image" style="max-width: 300px; max-height: 300px;">
        <h3>{{ publication.name }}</h3>
        <p>Description: {{ publication.description }}</p>
        <p>Price: {{ publication.price }}</p>
        <p>Localization: {{ publication.localization }}</p>
        <p>Creation Date: {{ publication.creation_date }}</p>
        <p>Creator: {{ creator.first_name }} {{ creator.last_name }}</p>
        <p>Average Rating: {{ publication.average_rating or 0 }}</p>
    </div>
<hr>
    {% if current_user.is_authenticated and (current_user.id == publication.creating_user_id or current_user.is_admin) %}
        <a href="{{ url_for('main.update_publication', pub_id=publication.id) }}" class="btn btn-primary">Update Publication</a>
    {% endif %}
    {% if current_user.is_authenticated and (current_user.is_admin or current_user.id == publication.creating_user_id) %}
        <form method="POST" action="{{ url_for('main.delete_publication', pub_id=publication.id) }}">
            {{ delete_form.hidden_tag() }} <!-- CSRF protection -->
            {{ delete_form.submit(class="btn btn-danger") }}
        </form>
    {% endif %}

    <h3>Ratings:</h3>
    {% for rating in ratings %}
        <div class="rating-box">
            <p>Rating: {{ rating.rating }}</p>
            <p>Comment: {{ rating.comment }}</p>
            <p>By: {{ rating.creating_user.first_name }} {{ rating.creating_user.last_name }} on {{ rating.creation_date.strftime('%Y-%m-%d') }}</p>
        </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <h3>Leave a Rating:</h3>
        <form method="post">
            <div class="form-group">
                <label for="rating">Rating (1-5):</label>
                <input type="number" id="rating" name="rating" class="form-control" min="1" max="5" required>
            </div>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea id="comment" name="comment" class="form-control" maxlength="300" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <p>You need to be logged in to leave a rating.</p>
    {% endif %}


{% endblock content %}
