{% extends 'layout.html' %}

{% block content %}
    <h2>User List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>Admin</th>
                <th>Blocked</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.birth_date }}</td>
                    <td>{{ 'Yes' if user.is_admin else 'No' }}</td>
                    <td>{{ 'Yes' if user.is_blocked else 'No' }}</td>
                    <td>
                        {% if not user.is_admin %}
                        <a href="{{ url_for('admin.block_user', user_id=user.id) }}">
                            {{ 'Unblock' if user.is_blocked else 'Block' }}
                        </a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}